.pei-biao-global-class-name-body {
}
.pei-biao-global-class-name-body-zhktpt {
  .viewContainer > .teaching_content,
  .pei-biao-global-class-name-teaching-content-zhktpt {
    > .header {
      padding: 15px 20px 22px 260px !important;
      .bg {
        top: 0 !important;
        left: -10px !important;
        right: auto !important;
        width: auto !important;
        height: auto !important;
        object-fit: contain !important;
      }
    }

    > .tab_list {
      padding-left: 250px !important;
      .header-tab {
      }
    }
    .course-class-teaching-wrapper {
      .chapter-section {
        float: right !important;
      }
      .chapter-fixed {
        right: 0 !important;
      }
      .right-section {
        float: left !important;
        margin: 0 0 0 20px !important;
      }
    }
  }
}
.pei-biao-global-class-name-body-cyktdx {
  .viewContainer > .teaching_content,
  .pei-biao-global-class-name-teaching-content-cyktdx {
    > .header {
      background: #10122e !important;
      color: #fff !important;
      h1 {
        .class-name {
          color: #fff !important;
        }
      }
      .bg {
        display: none !important;
      }
    }

    > .tab_list {
      background: #020922 !important;
      .header-tab {
        color: #cecfd3 !important;
      }
    }

    .course-class-teaching-wrapper {
      background: #010619 !important;
      .chapter-section {
        background-color: #31364d !important;
      }
      .chapter-section .search .search-input {
        background: #010619 !important;
      }
      .chapter-section .common-chapter {
        background: #31364d !important;
        color: #fff !important;
      }
      .chapter-section > :nth-child(2) {
        background: #31364d !important;
      }
      .chapter-section .content-overview .text {
        color: #fff !important;
      }
    }

    .course-class-teaching-wrapper .right-section .chapter-name .select .el-dropdown-link {
      color: #fff !important;
    }
    .course-class-teaching-wrapper .right-section .chapter-section ul {
      background-color: #31364d !important;
      color: #fff !important;
      .every-li {
        background-color: #31364d !important;
      }
    }

    .course-class-teaching-wrapper
      .right-section
      .chapter-section
      .common-name-box
      .chapter-wrapper
      .name-text {
      color: #fff !important;
    }
  }
}
