.pei-biao-global-class-name-body {
  .el-container > .real-time-course-wrapper,
  .pei-biao-global-class-name-data-center-data-screening-real-time-course {
    .classroom-dynamics-wrapper {
      .course-flow {
        .course-box {
          .options-box {
            > * {
              display: none !important;
            }
            > .enter-the-classroom {
              display: inline !important;
            }
          }
        }
      }
    }
  }
}
.pei-biao-global-class-name-body-zhktpt {
  .el-container > .real-time-course-wrapper,
  .pei-biao-global-class-name-data-center-data-screening-real-time-course {
    .date-block-wrapper {
      display: none !important;
    }
  }
}
.pei-biao-global-class-name-body-cyktdx {
  .el-container > .real-time-course-wrapper,
  .pei-biao-global-class-name-data-center-data-screening-real-time-course {
    .date-block-wrapper {
      .pic-text-wrapper {
        .pic-item-box-1,
        .pic-item-box-3 {
          display: none !important;
        }
      }
    }
    .classroom-dynamics-wrapper {
      > .select-wrapper {
        display: none !important;
      }
    }
  }
}
