.pei-biao-global-class-name-body {
  .view-box > .data-screening,
  .pei-biao-global-class-name-data-center-data-screening {
    > .father-box {
      > .screening-header {
        #tab-real_time_exam,
        .term-button {
          display: none!important;
        }
        > div {
          display: none !important;
        }
        > .tab-header-top {
          display: block !important;
        }
      }
    }
  }
}
.pei-biao-global-class-name-body-zhktpt {
}
.pei-biao-global-class-name-body-cyktdx {
}
