
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499322833546'); /* IE9*/
  src: url('iconfont.eot?t=1499322833546#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499322833546') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499322833546') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499322833546#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before { content: "\e62d"; }

.icon-unfold:before { content: "\e60c"; }

.icon-fold:before { content: "\e610"; }

.icon-danmu-close:before { content: "\e629"; }

.icon-danmu-open:before { content: "\e62c"; }

.icon-wrong:before { content: "\e622"; }

.icon-correct:before { content: "\e61a"; }

.icon-refresh:before { content: "\e639"; }

.icon-danmu1:before { content: "\e651"; }

.icon-timing:before { content: "\e652"; }

.icon-submission:before { content: "\e658"; }

.icon-zan1:before { content: "\e65a"; }

.icon-buzan:before { content: "\e65d"; }

.icon-tougao_bushoucang:before { content: "\e65e"; }

.icon-tougao_shoucang1:before { content: "\e65f"; }

.icon-fanhui:before { content: "\e660"; }

.icon-dakai:before { content: "\e661"; }

.icon-keqianyuxi_fabu:before { content: "\e662"; }

.icon-keqianyuxi_yuyinliebiao:before { content: "\e663"; }

.icon-keqianyuxi_shouqi:before { content: "\e664"; }

.icon-shiti_hongbao:before { content: "\e665"; }

.icon-shiti_chakanxiangqing:before { content: "\e666"; }

.icon-shiti_shijuan:before { content: "\e667"; }

.icon-shiti_touping:before { content: "\e668"; }

.icon-shiti_guanbitouping:before { content: "\e669"; }

.icon-ykq_erweima:before { content: "\e66a"; }

.icon-suijidianming1:before { content: "\e66b"; }

.icon-duihao:before { content: "\e66c"; }

.icon-biaoqian:before { content: "\e659"; }

.icon-ykq_tab_active:before { content: "\e65b"; }

.icon-ykq_tab_active1:before { content: "\e65c"; }

.icon-ykq_tab_normal:before { content: "\e66d"; }

.icon-ykq_tab_normal1:before { content: "\e66e"; }

.icon-ykq_tab_normal2:before { content: "\e66f"; }

.icon-ykq_tab_active2:before { content: "\e670"; }

.icon-ykq_tab_avtive:before { content: "\e671"; }

.icon-ykq_tab_normal3:before { content: "\e672"; }

.icon-ykq_tab_danmu:before { content: "\e673"; }

.icon-ykq_tab_tougao:before { content: "\e674"; }

.icon-ykq-shiti-guanbi:before { content: "\e677"; }

.icon-ykq-tuichufangying:before { content: "\e676"; }

