@import "./_variables";

/*蓝底白字定高不定宽的按钮*/
@mixin button(){
	.btn {
		font-size: 16px;
		color: $white;
		text-align: center;
		background: $blue;
		text-decoration: none;
		border-radius: 5px;
		height: 0.906667rem;
		line-height: 0.906667rem;
		// box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	}
	[data-dpr="2"] .btn {
		font-size: 32px;
	}
	[data-dpr="3"] .btn {
		font-size: 48px;
	}

	.f18 .btn {
		font-size: 18px;
	}
	[data-dpr="2"] .f18 .btn {
		font-size: 36px;
	}
	[data-dpr="3"] .f18 .btn {
		font-size: 54px;
	}
}
	