.color4a{
    color: #4a4a4a;
}
.color3{
    color: #333;
}
.color63{
    color: #639ef4;
}
.color-f{
    color: #fff;
}
.color6{
    color: #666;
}
.color-a{
    color: #aaa;
}
.color-9b{
    color:#9b9b9b;
}
.color-c8{
    color: #c8c8c8;
}
.color-e6{
    color: #E64340;
}
.color-fb{
    color: #FB4E3A;
}
.font10{
    font-size: 10px;
}
.font11{
    font-size: 11px;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font15{
    font-size: 15px;
}
.font16{
    font-size: 16px;
}
.font17{
    font-size: 17px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font30{
    font-size: 30px;
}
.font32{
    font-size: 32px;
}
.font50{
    font-size: 50px;
}
.font60{
    font-size: 60px;
}
.w100{
    width: 100%;
}
.radius50{
    border-radius: 50%;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-900{
    font-weight: 900;
}
.font-weight-bold{
    font-weight: bold;
}
.f-right{
    float: right;
    vertical-align: middle;
}
.f-left{
    float: left;
    vertical-align: middle;
}
.top10{
    margin-top: 10px;
}
.top30{
    margin-top: 30px;
}
.w100{
    width: 100%;
}
.back-f{
    background-color: #fff;
}
.clear-fix{
    clear: both;
    overflow: hidden;
}
.pointer{
    cursor: pointer;
}
.inline-block{
    display: inline-block;
}
.hide{
    display: none !important;
}
.h20{
    height: 20px;
}
input{
    outline: none;
}
.text-center{
    text-align: center
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.border-box{
    box-sizing: border-box;
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ver-middle{
    vertical-align: middle;
}
