/**
 * @module 直接借鉴小程序的样式文件，小程序不支持 sass 语法， 直接用的 css 格式
 */

 @import "./_variables";
 @import "./_mixin";
 @include button;

.root {position: relative; height: 100%;}
.rc-home  {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: #000000;
  color: $white;
  font-size: 25px;
  /*卡片单元*/
  .card-box {
    height: 6.853333rem;
    overflow: hidden;

    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 0.906667rem;
      margin-bottom: 0.266667rem;
      padding-left: 0.56rem;

      .ct {
        margin-left: 0.693333rem;
      }
      .pubpblm_or_check_answer {
        margin-right: 0.453333rem;
        width: 2.4rem;
      }
    }
    
  }
  .upper {
    padding-top: 0.666667rem;
  }
  .downer {
    opacity: 0.8;
  }
  .card {
    width: 100%;
  }
}


.rc-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.72);
  overflow: auto;

  .mask-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $white;
  }
}

/*缩略图样式*/
.thumbnail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #efefef;
  overflow: hidden;
}
.thumbnail-box .thumnail-scrollview {
  height: 1100rpx;
}
.thumbnail-item {
  float: left;
  position: relative;
  width: 320rpx;
  overflow: hidden;
  margin: 10px;
  color: #4A4A4A;
}
.thumbnail-box .close-btn {
  width: 100%;
  margin: 0;
}
.thumbnail-item:nth-child(2n) {
  float: right;
}
.gridimg {
  width: 100%;
}
.thumbnail-item.active .gridimg {
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid #639EF4;
}
.gridlabel {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5rpx 10rpx;
  background: rgba(0,0,0,0.72);
  color: $white;
}

.errmsg, .reconnect-box, .deprive-box {width: 600rpx;}


/*夺权*/
.deprive-box button {
  width: 320px;
  background: none;
  color: $white;
  border: 1px solid $white;
}
.deprive-box .mb {
  margin-bottom: 30rpx;
}




/*支付确认弹层*/
.paying-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.72);
  overflow: auto;
}
.paying-wrapper .paying-content {
  position: absolute;
  top: 50%;
  left: 40rpx;
  right: 40rpx;
  transform: translateY(-50%);
  padding: 0 32rpx;
  background: #fff;
  border-radius: 10rpx;
  text-align: center;
  color: #4A4A4A;
}
.paying-wrapper .confirm-box {
  
}
.paying-wrapper .confirm-box .title {
  height: 120rpx;
  line-height: 120rpx;
  font-size: 36rpx;
  border-bottom: 1px solid #C8C8C8;
}
.paying-wrapper .confirm-box .kthb {
  height: 40rpx;
  margin-top: 34rpx;
  font-size: 32rpx;
}
.paying-wrapper .confirm-box .total {
  height: 120rpx;
  font-size: 80rpx;
}
.paying-wrapper .confirm-box .wallet, .paying-wrapper .confirm-box .needmoremoney {
  height: 80rpx;
  line-height: 80rpx;
  text-align: left;
  text-indent: 80rpx;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  font-size: 32rpx;
  background: url(http://sfe.ykt.io/bank.png) 20rpx center no-repeat;
}
.paying-wrapper .confirm-box .needmoremoney {
  border-top: 0;
  background-image: url(http://sfe.ykt.io/wxlogo.png);
}
.paying-wrapper .confirm-box .confirm-btn {
  margin: 44rpx auto;
  width: 410rpx;
  height: 80rpx;
  line-height: 80rpx;
  background-color: #FFAE00;
  color: #fff;
  border-radius: 6rpx;
  font-size: 32rpx;
}
.paying-wrapper .confirm-box .gray {
  font-size: 28rpx;
  color: #9B9B9B;
}
.paying-wrapper .paying {
  padding: 100rpx;
  font-size: 48rpx;
}
/*红包支付成功、失败的弹层*/
.paying-wrapper .pay-success {}
.paying-wrapper .pay-fail {}
.paying-wrapper .pay-success .cg, .paying-wrapper .pay-fail .cg {
  height: 200rpx;
  line-height: 200rpx;
  font-size: 48rpx;
  color: #E64340;
}
.paying-wrapper .pay-success .wallet {
  height: 80rpx;
  line-height: 80rpx;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  font-size: 36rpx;
  background: url(http://sfe.ykt.io/bank.png) 20rpx center no-repeat;
}
.paying-wrapper .pay-success .wallet span {
  font-size: 28rpx;
  color: #9B9B9B;
}
.paying-wrapper .pay-success .confirm-btn, .paying-wrapper .pay-fail .confirm-btn {
  margin: 44rpx auto;
  width: 410rpx;
  height: 80rpx;
  line-height: 80rpx;
  background-color: #FFAE00;
  color: #fff;
  border-radius: 6rpx;
}

/*红包名单列表页面*/
.redpacketlist-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
  color: #4A4A4A;
  overflow: auto;
}
.redpacketlist-box .rplist-wrapper {
  text-align: center;
}
.redpacketlist-box .rplist-wrapper .head {
  display: flex;
  height: 110rpx;
  align-items: center;
  font-size: 36rpx;
  border-bottom: 4rpx solid #C8C8C8;
}
.redpacketlist-box .rplist-wrapper .head>view {
  flex: 1;
}
.redpacketlist-box .rplist-wrapper .redpacketlist-scrollview {
  height: 600rpx;
}
.redpacketlist-box .rplist-wrapper .item {
  display: flex;
  height: 90rpx;
  align-items: center;
  font-size: 36rpx;
}
.redpacketlist-box .rplist-wrapper .item>view {
  flex: 1;
}
.redpacketlist-box .rplist-wrapper .item:nth-child(2n+1) {
  background: #EDF2F6;
}
.redpacketlist-box .rplist-wrapper .item .fz12 {
  font-size: 24rpx;
}

.redpacketlist-box .button-box {
  position: absolute;
  left: 0;
  bottom: 60rpx;
  width: 100%;
  height: 100rpx;
  font-size: 36rpx;
  text-align: center;
}
.redpacketlist-box .button-box .btn {
  display: inline-block;
  width: 250rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin: 0 30rpx;
  border: 1px solid #639EF4;
  color: #639EF4;
  border-radius: 6rpx;
}
.redpacketlist-box .button-box .refresh {
  background-color: #639EF4;
  color: #fff;
}
.redpacketlist-box .bottom-hint {
  position: absolute;
  left: 0;
  bottom: 14rpx;
  width: 100%;
  height: 40rpx;
  line-height: 40rpx;
  font-size: 28rpx;
  text-align: center;
}

/*试卷相关页面，未发出的：paper， 已发出的：quiz*/
.paper-box, .quiz-box {
  height: 100%;
  background-color: #EDF2F6;
  color: #4A4A4A;
}
.paper-box .title, .quiz-box .title, .quizresultdetail-box .title {
  margin-bottom: 20rpx;
  line-height: 100rpx;
  font-size: 40rpx;
  background-color: $white;
}
.paper-box .history-quiz {
  margin-bottom: 20rpx;
  background-color: $white;
  font-size: 34rpx;
}
.noborder:before, .noborder:after {
  border: 0;
}
.paper-scrollview {
  height: 700rpx;
  background-color: #EDF2F6;
}
.quiz-box .paper-scrollview {
  height: 1000rpx;
}
.paper-box .paper-item, .quiz-box .quiz-item {
  padding: 15rpx 35rpx;
  background-color: $white;
}
.paper-box .paper-item.active {
  border-left: 4px solid #639EF4;
}
.paper-box .paper-name, .quiz-box .quiz-name {
  font-size: 36rpx;
}
.paper-box .paper-pub-btn {
  display: block;
  margin: 20rpx auto;
  width: 550rpx;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 36rpx;
}
.paper-box .paper-pub-btn.active {
  background-color: #639EF4;
  color: $white;
}
/*试卷结果饼图页*/
.quizresult-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
  color: #4A4A4A;
  overflow: auto;
}
.quizresult-box .title  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120rpx;
  background-color: $white;
  color: #639EF4;
}
.quizresult-box .title .iconfont  {
  font-size: 90rpx;
}
.quizresult-box .fsfb {
  width: 90%;
  margin: 0 auto 30rpx;
  font-size: 36rpx;
  border-bottom: 1px solid #C8C8C8;
  color: #4A4A4A;
}
.pieSolid {
  height: 500rpx;
}
.canvas {
  width: 100%;
  height: 200px;
}
.quizresult-box .btn-group button{
  width: 80%;
  margin: 10rpx;
}

/*试卷结果详情表格页*/
.quizresultdetail-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
  color: #4A4A4A;
  overflow: auto;
}
.quizresultdetail-box .list-head {
  display: flex;
  height: 100rpx;
  align-items: center;
  border-bottom: 1px solid #C8C8C8;
  font-size: 36rpx;
}
.quizresultdetail-box .flex-item {
  flex: 1;
}
.quizresultdetail-scrollview {
  height: 800rpx;
}
.quizresultdetail-box .quizresultdetail-item {
  display: flex;
  height: 80rpx;
  align-items: center;
  font-size: 32rpx;
}
.quizresultdetail-box .quizresultdetail-item:nth-child(2n+1) {
  background-color: #EDF2F6;
}