/**
 * @module 直接借鉴小程序的样式文件，小程序不支持 sass 语法， 直接用的 css 格式
 */

 @import "./_variables";
 @import "./_mixin";
 @include button;

.root {position: relative; height: 100%;}
.rc-home  {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: #000000;
  color: $white;
  font-size: 25px;
  /*卡片单元*/
  .card-box {
    height: 6.853333rem;
    overflow: hidden;

    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 0.906667rem;
      margin-bottom: 0.266667rem;
      padding-left: 0.56rem;

      .ct {
        margin-left: 0.693333rem;
      }
      .pubpblm_or_check_answer {
        margin-right: 0.453333rem;
        width: 2.4rem;
      }
    }
    
  }
  .upper {
    padding-top: 0.666667rem;
  }
  .downer {
    opacity: 0.8;
  }
  .card {
    width: 100%;
  }
}
.templates {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.rc-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.72);
  overflow: auto;

  .mask-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $white;
  }
}
