html{
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
  background-color: #282C2F;
  color: #333;
  font-size: 16px;
}
html {
  font-size: 50px;
}
body {
  font-size: 50px;
}
div,section{
  box-sizing: border-box;
}
ul{
  padding: 0;
  margin: 0;
}
input{
  outline: none;
  border:none;
}
a{
  text-decoration: none;
}
.over{
  overflow: hidden;
  clear: both;
}
.relative{
  position: relative;
}
.con-width{
  width: 960px;
  margin: 0 auto;
}
.pointer{
  cursor: pointer;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.inline-block{
  display: inline-block;
  vertical-align: top;
}
.colorf{
  color: #fff;
}
.color9b{
  color:#9b9b9b;
}
.color0{
  color:#000;
}
.color3{
  color: #333;
}
.color4a{
  color:#4a4a4a;
}
.color6{
  color: #666;
}
.colora{
  color: #aaa;
}
.color63{
  color: #639EF4;
}
.color-e4{
  color: #e43828;
}
.font0{
  font-size: 0px;
}
.font12{
  font-size: 12px;
}
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}
.font20{
  font-size: 20px;
}
.font22{
  font-size: 22px;
}
.font24{
  font-size: 24px;
}
.font26{
  font-size: 26px;
}
.font36{
  font-size: 36px;
  line-height: 50px;
}
.font48{
  font-size: 48px;
}
p{
  margin: 0;
}
.back-image{
  background-size: 100% 100%;
  background-position: center center;
}
.btn-blue:hover{
  background-color: #639EF4 !important;
  color:#fff !important;
}
