.pei-biao-global-class-name-body {
  #app > .page,
  .pei-biao-global-class-name-fullscreen-v3{
    > .ppt__wrapper{
      .cards__nav{
        display: none !important;
      }
    }
  }
}
.pei-biao-global-class-name-body-zhktpt {
}
.pei-biao-global-class-name-body-cyktdx {
}
